<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Curriculum Vitae</title> 
   <!-- Import Styles -->
   <link rel="stylesheet" href="style.css" />
  <!-- Import Vue.js -->
  <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
</head>

<body>
  <main>
    <div id="app">
      <div :style="{ backgroundColor: colorBG }">
        <div class="nav-bar"></div>

        <div 
        @mouseover="updateThis" 
        @mouseleave="updateWhite" 
        class="color-circle">
        </div>

        <h1> {{ nombreCompleto }}</h1> 
        <p style="color: white"> Legajo 15813 </p>
        <p class="p_grande" v-if="estudiante" > Estudiante Universitario </p>
        <p class="p_grande" v-else > Docente Universitario </p>
        
        <div 
        @mouseover="broke" 
        @mouseleave="fix" 
        class="color-circle">
        </div>

        <!-- links internos -->
        <div :style="{ styles }" >
          Links  
          <a href="#contacto">Contacto </a>
          <a href="#perfil">Perfil </a>
          <a href="#educacion">Educacion </a>
          <a href="#exp">Expe </a>
        </div>
        
        
        <section id="detalles">
          <h3> DETALLES </h3>
          <div>
            <h4 class="destaca_titulo" > Nacionalidad - {{ nacionalidad }}  </h4>
            <!-- <p> {{ nacionalidad }} </p> -->
            
            <!-- CONTACTO -->
            <h4 class="destaca_titulo" id="contacto"> Contacto</h4>
            <ul>
              <li v-for="info in info_contacto"> {{ info }}</li>
            </ul>

            <!-- PERFIL -->
            <h4 class="destaca_titulo" id="perfil"> Perfil</h4>
            <p class="p_grande p_angosto">
              {{ perfil }}
            </p>

            <!-- EDUCACION -->

            <h4 id="educacion" class="destaca_titulo" > Educación</h4>

            <div v-for="info in educacion" class="p_chico" :key="info.id" > 
              {{ info.institucion}}
              <p class="destaca-carrera" >{{ info.carrera}} </p>
              <p v-if="info.enCurso" class="p_chico">En Curso</p>
              <p v-else  class="p_chico">Abandonada</p>

            </div>          

            <!-- Experiencia Laboral -->
            <h4 id="exp" class="destaca_titulo"> Experiencia Laboral </h4>
            <p>
              Pasantías en curso </br>
              Empresa: <a href="https://www.nexosoluciones.com.ar/" target="_blank" rel="noopener noreferrer">NexoSoluciones S.A </a></br>
            </p>
          </div>
        </section>


        <div class="cuadro">
          <p v-if=" statusCode > 7">{{ mensaje3 }}</p>
          <p v-else-if="statusCode > 1 ">{{ mensaje2 }}</p>
          <p v-else="">{{ mensaje1 }}</p>
        </div>

        
        <button class="button" @click="alertFn" >Descargar en PDF</button>
        <button class="button donar" @click="pressBtn" :class="[ limit ? disabledButton : '']" >Click mE! </button>
  
        <comentario></comentario>

      </div>
  </div>
  </main>
  
</body>

<!-- Import app -->
<script src="main.js"></script>

<!-- Import Components -->
<script src="components/ComentarioComponent.js"></script>

<!-- Mount app -->
<script>
  const mountedApp = app.mount('#app')
</script>

</html>