<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Curriculum Vitae</title> 
   <!-- Import Styles -->
   <link rel="stylesheet" href="style.css" />
  <!-- Import Vue.js -->
  <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
  <!-- Import Vue router -->



</head>

<body>
  <main>
    <div id="app">
      <div class="nav-bar"></div>
      
      <h1> {{ nombre_alumno }}</h1>
      <p class="p_grande" v-if="estudiante" > Estudiante Universitario </p>
      <p class="p_grande" v-else > Docente Universitario </p>

      <!-- links internos -->
      <a href="#contacto">Contacto </a>
      <a href="#perfil">perfil </a>
      <a href="#educacion">educacion </a>
      <a href="#exp">expe </a>
      
      
      <section id="detalles">
        <h3> DETALLES </h3>
        <div>
          <h4 class="destaca_titulo" > Nacionalidad </h4>
          <p> {{ nacionalidad }} </p>
          
          <!-- CONTACTO -->
          <h4 class="destaca-titulo" id="contacto"> Contacto</h4>
          <ul>
            <li v-for="info in info_contacto"> {{ info }}</li>
          </ul>

          <!-- PERFIL -->
          <h4 class="destaca_titulo" id="perfil"> Perfil</h4>
          <p class="p_grande p_angosto">
            {{ perfil }}
          </p>

          <!-- EDUCACION -->

           <h4 id="educacion" class="destaca_titulo" > Educación</h4>

          <div v-for="info in educacion" class="p_chico" :key="info.id" > 
            {{ info.institucion}}
            <p class="destaca-carrera" >{{ info.carrera}} </p>
            <p v-if="info.enCurso" class="p_chico">En Curso</p>
            <p v-else  class="p_chico">Abandonada</p>

          </div>          

          <!-- Experiencia Laboral -->
          <h4 id="exp" class="destaca_titulo"> Experiencia Laboral </h4>
          <p>
            Pasantías en curso </br>
            Empresa: <a href="https://www.nexosoluciones.com.ar/" target="_blank" rel="noopener noreferrer">NexoSoluciones S.A </a></br>
          </p>
        </div>
      </section>

      <button class="button" @click="alertFn" >Descargar CV en PDF</button>
    </div>
  </main>
  
</body>

<!-- Import app -->
<script src="main.js"></script>

<!-- Mount app -->
<script>
  const mountedApp = app.mount('#app')
</script>

</html>