body{
  background-color: rgba(222, 219, 210, 0.489);
  font-family: 'Mulish', sans-serif;;
}

#grid-uno{
  display: grid;
  grid-template-areas: 'arriba arriba arriba'
                      'medio medio medio'
                      'post post sobremi';
  grid-template-columns: auto 4% auto;
  grid-template-rows: 100px 400px auto auto;
  height: auto;
  /* border: 1px black solid; */
  row-gap: 70px;
}
.colorAzulClaro{
 background-color: rgba(14, 122, 237, 0.951);
}

.container-comentar{
  padding: 12px;
  margin: 10px;
}

.unfollow{
  font-size: 14px !important;
  background-color:rgba(194, 66, 57, 0.951) !important;
}

#parteArriba{
  grid-area: arriba;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#c1{
  margin-left: 130px;
}
#c2{   
  margin-right: 130px;
}
#inpUsuario{
  border: 0px;
  height: 40px;
  border-radius: 8px;
  padding-left: 15px;
  font-size: 20px;
}
#parteMedio{
  grid-area: medio;
  border-radius: 20px;
  margin: 0px 150px 0px 150px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: start
}

#imgJane{
  width: 300px;
  height: 300px;
  border-radius: 100%;
  border-color: rgba(14, 122, 237, 0.951);
  border-width: 5px;
  border-style: solid;
  padding: 5px;
  margin-left: 80px;
}
#c4{
  margin-left: 60px;
  font-size: 15px;
}
#c5{
  margin:220px 0px 0px 350px;
}
#btnSeguir{
  border:none;
  height: 50px;
  width: 120px;
  border-radius: 8px;
  background-color:rgba(14, 122, 237, 0.951);
  font-size: 25px;
  color: white;
}

#lateral-izquierdo{
  grid-area: post;
  background-color: white;
  margin: 0px 70px 10px 150px;
  border-radius: 20px;
  /* display: flex;
  align-items:center; */

}
#c6{  
  margin-left: 20px;
  text-align: start;
}
#imgVecindad{
  width: 670px;
  height: 400px;
}
#btnMeGusta{
  border: none;
  height: 30px;
  border-radius: 8px;
  color: rgba(14, 122, 237, 0.951);
  background-color: antiquewhite;
}
#likes{
  font-size: 25px;
}
.right{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#boton-eliminar{
  border: none;
}
#nombre-color{
  color: rgba(14, 122, 237, 0.951);
}
#boton-comentar{
  border: none;
  font-size: 20px;
  border-radius: 8px;
  height: 30px;
  color: white;
}
#login{
  border: none;
  font-size: 15px;
  border-radius: 4px;
  height: 22px;
}
#txtComentario{
  border: none;
  border-radius: 3px;
  width: 530px;
}
#abajo{
  display: flex;
  justify-content: space-around;
}

#lateral-derecho{
  grid-area: sobremi;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  width: 440px;
  height: 300px;

}
#sobre-mi{
  font-size: 25px;
  text-align: start;
  margin: 20px 0px 0px 20px;
  color: rgb(147, 147, 153)
}
#parrafo-largo{
  margin: 20px;
}
