body{
  background-color: rgba(222, 219, 210, 0.489);
}


#grid-layout{
  display: grid;
  grid-template-areas: 'logo  logo'
                      'perfil perfil'
                      'imagen sobremi'
                      'imagen sobremi';
  grid-template-columns: 70% auto auto;
  grid-template-rows: auto auto auto auto;
  height: 1000px;
  row-gap: 30px;
  text-align: center;
}

.caja{
  background-color: white;
  border-radius: 7%;
  border: 7px solid black;  
}
#primeraSeccion{
  grid-area: logo;
  background-color: rgba(14, 122, 237, 0.951);
  align-self: center;
  
}
#c1 { 
  grid-area: logo;
  background-color: rgba(14, 122, 237, 0.951);
  text-align: start;
  align-self: center;
}


.segundaSeccion{
  justify-content: stretch;
}
#c3 {
  grid-area: imagen;
}
#c4 {
  grid-area: sobremi;
}
#c5{
  grid-area: logo;

  text-align:start;

 
}
/*#c6{
  grid-area:descripcion;
  text-align: start;
  align-self: center;
  padding-left: 20px;
}
#c7{
  grid-area: seguir;
  text-align: start;
  align-self: end;
}*/

/*#imgGlobo{
  padding-left: 60px;
}*/

/*#inpUsuario{
  height: 40px;
  padding-left: 15px;
  border-radius: 10%;
  border: none;
  font-size: 20px; 
  font-family: 'Mulish', sans-serif; 
  margin-top: 19px;

}*/

#imgJane{
  width: 250px;
  height: 250px;
  /*border-radius: 100%;
  border-color: blue;
  border-width: 5px;
  border-style: solid;
  padding: 5px;*/

}
/*#btnSeguir{
  margin-bottom: 100px;
  border: none;
  background-color: rgba(14, 122, 237, 0.951);
  color: white;
  width: 140px;
  height: 40px;
  border-radius: 10%;
  font-size: 30px;
  
}*/